*{
    margin:0;
    padding: 0;
}

header{
    width: 100%;
    background:linear-gradient(to right,#ff2600,#1b5dd8);
    /* background-color:#0d83d1d5; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.logo{
    width: 12%;
    min-width: 120px;
    display: flex;
    justify-content: center;
    padding-left: 2%;
}
#imagenpoke{
    width: 100%;
}
#btn-menu{
    display: none;
}
.icono-menu{
    color: #fff;
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow:0 0 3px rgb(51, 44, 44);
}

.menu ul{
    margin:0;
    list-style:none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.menu li a{
    display: block;/*para poder darle pading*/
    padding: 0em 1em;
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}
.menu li i{
    margin-right: 10px;
}
.Contenido-inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    position:bottom;
    padding-top: 100px;
    font-family: cursive;
}

.contenedor-buscador{

	display: flex;
	width: 100%;
    justify-content: center;
    border: 1px solid black;
    padding: 2.5em;
    /* background-color: #161b1b; */
}

#btn-buscar{
    color: #fff;
    background-color: #4BAADE;
    width: 5%;
    min-width: 50px;
    border: none;
    font-size: 1.5em;

}
#Buscador{
    width: 40%;
    min-width: 280px;
    font-size: 1em;
    padding: 0.5em;
    margin-right:0.5em;
    border-radius: 8px;
    border: 4px solid #4BAADE;
}
/* 04-09-20 combobox ordenar*/
.contendor-ordenar-frecuencia{
    border-radius: 10px;
    margin-top: 20px;
    padding:1em 2em;
    background-color: #1658e7c7;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    
}
/* 04-09-20 boton mostrar todo */
.btn-mostrar{
    border-radius: 10px;
    margin-top: 20px;
    padding:1em 2em;
    background-color: #0637a1c7;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif; 
    display: flex;
}
#contenedor-imagenes{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* //04-09-20 */
#imagenes{
    width: 80%;
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.Contenido-principal{
    display: flex;
		flex-direction: column;
        align-items: center;
        position:bottom;
        padding-top: 100px;
}
/* 02-09-20 */
#imagen_inicio{
    width: 100%;
    height: 50%;
}
#pantalla_pokemon{
    display:none;
}
#pantalla_mejores_movimientos{
    display:none;
}
#pantalla_frecuencia{
    display:none;
}
.Contenido-principal{
    display: flex;
}
/* 03-09-20 */
.ficha-pokemon{
    border: 3px solid #ee5b5b;
    background-color: white;
		border-radius: 30px;
		margin: 3% 3%;
		padding: 2% 2%;
    width: 28%;
    min-width: 280px;
}
.ficha-pokemon button{
    border-radius: 10px;
    margin-top: 20px;
    padding:1em 2em;
    background-color: #c41818;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.ficha-pokemon h2,h3{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
/* 03-09-20 */
.ficha-frecuencia{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(22, 58, 177);

}
.ficha-contenido{
    display: flex;
}
.ficha-boton{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
/* elimino iconos  faceb instagram  */
footer{
    align-self: flex-end;
    position: relative;
    background-color: #092d8ff6;
    line-height: 3;
    text-align: center;
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(253, 251, 251);
    }
/* tarjeta 3d
/* .imagen_tarjeta{
    height: 250px;
    width: 250px;
    margin: auto;
    -webkit-perspective: 700;
/* } */ 
/* .tarjeta{
    height: 100%;
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: 2s;
}  */
/* .tarjeta:hover{
    transform: rotateY(180deg);
}
.lado{
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    position: absolute;
}
.frente{
    background: #c41818;
}
.atras{
    background:#199939;
    transform: rotateY(180deg);
} */

@media (max-width:760px){
    .icono-menu{
        display: block;
    }
    .menu{
        position: absolute;
        margin-top:235px;
        background:#72b7f8 ;
        width: 100%;
        transition: all 0.5s;
        transform: translateX(-100%);
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid #fff;
    }
    .menu li a{
    padding: 10px;

    }
    #btn-menu:checked ~ .menu{
        transform: translateX(0%) ;
    }
}
